#!/bin/bash

watch_file "pyproject.toml" "pixi.toml" "pixi.lock"
if [[ -t 2 ]]; then export PIXI_COLOR="always"; fi
set +o nounset
eval "$(pixi shell-hook)"
set -o nounset
unset PIXI_COLOR

export MLFLOW_ENABLE_SYSTEM_METRICS_LOGGING=true
export MLFLOW_SYSTEM_METRICS_SAMPLING_INTERVAL=0.1
export MLFLOW_TRACKING_URI="http://localhost:5000"
